*{
    padding:0px;
    margin:0px;
}

:root{
    --cor1: rgb(54, 0, 34);
    --cor2:rgb(0,104,56) ;
    --cor3: rgb(53,158,71);
    --cor4: rgb(193,242,168);
    --cor5: rgb(13,14,13);
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--cor5);
}
header{
    background-color: black;
    color: white;
    text-align: right;
}
nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: flex-end;
    background-image: linear-gradient(to bottom, black, var(--cor1));
    border-bottom: 3px solid black;
}
header>h1{
    padding: 15px 30px 15px;
    color: var(--cor3);
    font-size: 2.5em;
    text-align: center;
    text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.438);
}
#div-h1{
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#barra{
    margin-left: 3px;
    height: 30px;
    width: 6px;
    animation-name: barra;
    animation-duration: 1.3s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
}
header a:link,
header a:visited{
    text-decoration: none;
    color: var(--cor4);
    font-weight: bolder;
    padding: 13px 33px 13px 13px;
    border-left: 3px solid black;
}
header a:hover{
    background-color: rgb(0, 0, 0);
    color: var(--cor3);
    transition-duration: 0.2s;
}
.container{
    display: flex;
}
#div1{
    flex-flow: row nowrap;
    justify-content: space-between;
}
#div1-1{
    margin-top: 20px;
    flex-flow: column wrap;
    justify-content: end;
    align-items: flex-start;
}
#div2{
    margin-top: 40px;
}
#div3{
    margin-top: 40px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
article{
    background-image: linear-gradient(to bottom, black, var(--cor1));
    max-width: 500px;
}
.article-esquerda{
    padding: 0px 20px 10px 0px;
    border-radius: 24px 16px 0px;
}
.article-direita{
    padding: 0px 0px 10px 20px;
    border-radius: 16px 0px 24px;
}
.h1-esquerda{
    border-radius: 0px 16px 0px 0px;
    margin-right: -20px;
}
.h1-direita{
    border-radius: 16px 0px 0px 0px;
    margin-left: -20px;
}
article>h1{
    padding: 12px;
    margin-bottom: 10px;
    color: var(--cor3);
    font-size: 2.5em;
    background-color: black;
}
article>p{
    font-size: 1.2em;
    color: white;
    margin-right:30px;
    margin-left: 30px;
}
#img2-div2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#img2-div{
    margin-bottom: 30px;
}
#img2{
    --imgw: 290px;
    --imgh: 140px;
    --porcentagem:10;
    height: 140px;
    width: 290px;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#img3{
    margin-left: 14px;
    margin-right: 15px;
}

footer{
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor1));
    padding: 10px;
    color: var(--cor3);
    text-align: center;
    font-weight: bolder;
    font-size: 1.3em;
    margin-top: 50px;
}

@keyframes rotate{
    50% {width:calc(var(--imgw) - var(--imgw)*var(--porcentagem)/100); height: calc(var(--imgh) - var(--imgh)*var(--porcentagem)/100);}
    100% {width: var(--imgw); height: var(--imgh);}
}

@keyframes barra{
    60%  {background-color: white;}
    100%{height:30px;}
}


